// EXAMPLE PROJECTS
.projects-sim
  .container
    .projects-sim__title Примеры использования
    .projects-sim__grid
      .projects-sim__col
        // simial project
        .similar-project
          a(href="#").similar-project__image
            img(src='img/similarProject.jpg' srcset='img/similarProject@2x.jpg 2x')
          .similar-project__content
            a(href="#").similar-project__title Освещение автовокзала
            .similar-project__description Установка комплекта оборудования АСУНО КУЛОН для контроля и управления освещением
            .similar-project__cta
              a(href="#") Смотреть проект
      .projects-sim__col
        // simial project
        .similar-project
          a(href="#").similar-project__image
            img(src='img/similarProject.jpg' srcset='img/similarProject@2x.jpg 2x')
          .similar-project__content
            a(href="#").similar-project__title Перехватывающая парковка
            .similar-project__description Умное освещение на парковке
            .similar-project__cta
              a(href="#") Смотреть проект
      .projects-sim__col
        // simial project
        .similar-project
          a(href="#").similar-project__image
            img(src='img/similarProject.jpg' srcset='img/similarProject@2x.jpg 2x')
          .similar-project__content
            a(href="#").similar-project__title Освещение автовокзала
            .similar-project__description Установка комплекта оборудования АСУНО КУЛОН для контроля и управления освещением
            .similar-project__cta
              a(href="#") Смотреть проект
