// PROJECTS
.projects
  .container
    .projects__search.search-projects
      .search-projects__input
        input(type="text")
        button(type="submit")
          +svgMono('search')
      .search-projects__hint <span> 174</span> проекта(-ов), отвечающих условиям поиска

    // grid
    .projects__grid
      .projects__col.projects__col--8
        a(href="#").project(style="background-image: url(https://placehold.co/660x300)")
          .project__content
            .project__name Парковка Торгового Центра
            .project__location Москва, Россия
      .projects__col
        a(href="#").project(style="background-image: url(https://placehold.co/325x300)")
          .project__content
            .project__name Парковка Торгового Центра
            .project__location Москва, Россия
      .projects__col
        a(href="#").project(style="background-image: url(https://placehold.co/325x300)")
          .project__content
            .project__name Парковка Торгового Центра
            .project__location Москва, Россия
      .projects__col.projects__col--8
        a(href="#").project(style="background-image: url(https://placehold.co/660x300)")
          .project__content
            .project__name Парковка Торгового Центра
            .project__location Москва, Россия
      .projects__col.projects__col--12
        a(href="#").project(style="background-image: url(https://placehold.co/1000x300)")
          .project__content
            .project__name Парковка Торгового Центра
            .project__location Москва, Россия

      .projects__col.projects__col--8
        a(href="#").project(style="background-image: url(https://placehold.co/660x300)")
          .project__content
            .project__name Парковка Торгового Центра
            .project__location Москва, Россия
      .projects__col
        a(href="#").project(style="background-image: url(https://placehold.co/325x300)")
          .project__content
            .project__name Парковка Торгового Центра
            .project__location Москва, Россия
      .projects__col
        a(href="#").project(style="background-image: url(https://placehold.co/325x300)")
          .project__content
            .project__name Парковка Торгового Центра
            .project__location Москва, Россия
      .projects__col.projects__col--8
        a(href="#").project(style="background-image: url(https://placehold.co/660x300)")
          .project__content
            .project__name Парковка Торгового Центра
            .project__location Москва, Россия

      .projects__col
        a(href="#").project(style="background-image: url(https://placehold.co/325x300)")
          .project__content
            .project__name Парковка Торгового Центра
            .project__location Москва, Россия
      .projects__col
        a(href="#").project(style="background-image: url(https://placehold.co/325x300)")
          .project__content
            .project__name Парковка Торгового Центра
            .project__location Москва, Россия
      .projects__col
        a(href="#").project(style="background-image: url(https://placehold.co/325x300)")
          .project__content
            .project__name Парковка Торгового Центра
            .project__location Москва, Россия
