include _projectCards

// PROJECTS
.projects
  .container

    // grid
    .projects__grid
      +projectCol6
      +projectCol6
      +projectCol
      +projectCol
      +projectCol

    // search
    .projects__search.search-projects
      .search-projects__input.ui-search
        input(type="text")
        button(type="submit")
          +svgMono('search')
      .search-projects__cta
        a(href="#").btn.btn-primary Подписаться на новости

    // grid
    .projects__grid
      +projectCol8
      +projectCol
      +projectCol
      +projectCol8
      +projectCol12
