include _projectCards

// PROJECTS
.projects
  .container
    .projects__search.search-projects
      .search-projects__input.ui-search
        input(type="text")
        button(type="submit")
          +svgMono('search')
      .search-projects__hint <span> 174</span> проекта(-ов), отвечающих условиям поиска

    // grid
    .projects__grid
      +projectCol8
      +projectCol
      +projectCol
      +projectCol8

      +projectCol12

      +projectCol8
      +projectCol
      +projectCol
      +projectCol8

      +projectCol
      +projectCol
      +projectCol
