/* .projects
.projects
  margin: 30px 0 50px
  &__search
    margin: 20px 0
  &__grid
    display: flex
    flex-wrap: wrap
    margin: -7px
  &__col
    width: 100%
    flex: 0 0 $col4
    max-width: $col4
    min-width: 1px
    min-height: 0
    padding: 7px
    &--6
      flex-basis: $col6
      max-width: $col6
    &--8
      flex-basis: $col8
      max-width: $col8
    &--12
      flex-basis: $col12
      max-width: $col12

+r($md)
  .projects
    &__col
      flex-basis: $col6
      max-width: $col6
      &--6
        flex-basis: $col12
        max-width: $col12
      &--8
        flex-basis: $col12
        max-width: $col12
      &--12
        flex-basis: $col12
        max-width: $col12

+r($sm)
  .projects
    &__grid
      margin-left: -25px
      margin-right: -25px
    &__col
      padding: 5px

/* .search-projects
.search-projects
  display: flex
  flex-wrap: wrap
  align-items: center
  &__input
    margin-right: 25px
  &__hint
    font-size: 18px
    font-weight: 700
    span
      color: $colorPrimary
  &__cta
    margin-left: auto

+r($md)
  .search-projects
    &__hint
      flex: 1 1 100%
      margin-top: 0.5em
    &__cta
      flex: 1 1 100%
      margin-top: 0.5em

/* project
.project
  display: block
  position: relative
  z-index: 1
  overflow: hidden
  height: 300px
  background: $colorBg
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  &__cover
    position: absolute 0
    display: flex
    flex-direction: column
    img, picture
      flex: 1 1 auto
      object-fit: cover
      object-position: center center
      width: 100%
      height: 100%
  &__content
    position: absolute 0
    display: flex
    flex-direction: column
    justify-content: center
    background: $colorPrimary
    color: white
    padding: 20px
    transform: translate3d(0,100%,0)
    transition: transform .3s $ease
    backface-visibility: hidden
    transform-style: preserve-3d
  &__title
    font-weight: 700
    font-size: 40px
  &__name
    font-weight: 700
    font-size: 30px
  &__location
    margin-top: 0.2em
    font-size: 30px
  &--huge
    height: 490px
    .project__content
      padding: 30px
    .project__title
      font-size: 50px

  &:hover
    .project
      &__content
        transform: translate3d(0,0,0)

.projects__col
  &--8, &--12
    .project
      &__name, &__location
        font-size: 35px

+r($md)
  .project
    &__title
      font-size: 30px
    &__name
      font-size: 20px
    &__location
      font-size: 20px
    &--huge
      height: 350px
      .project__content
        padding: 20px
      .project__title
        font-size: 40px

  .projects__col
    &--8, &--12
      .project
        &__name, &__location
          font-size: 25px

+r($sm)
  .project
    height: 200px
    &--huge
      height: 250px


// similar projects
.projects-sim
  margin: 30px 0
  &__title
    font-size: 30px
    font-weight: 700
    margin-bottom: 0.5em
  &__grid
    display: flex
    flex-wrap: wrap
    margin: -3px
  &__col
    width: 100%
    display: flex
    flex-direction: column
    flex: 0 0 $col4
    max-width: $col4
    min-width: 1px
    min-height: 0
    padding: 4px

+r($md)
  .projects-sim
    &__col
      flex-basis: $col6
      max-width: $col6

+r($sm)
  .projects-sim
    &__col
      flex-basis: $col12
      max-width: $col12

.similar-project
  flex: 1 0 auto
  display: flex
  flex-direction: column
  &__image
    flex: 0 0 auto
    display: block
    position: relative
    z-index: 1
    overflow: hidden
    font-size: 0
    img
      width: 100%
      transition: transform .25s $ease
    &:hover
      img
        transform: scale(1.05)
  &__content
    flex: 1 0 auto
    display: flex
    flex-direction: column
    margin-top: 1em
  &__title
    font-size: 18px
    font-weight: 700
    transition: color .25s $ease
    &:hover
      color: $colorPrimary
  &__description
    font-size: 14px
    max-width: 90%
    margin: 0.5em 0 1em
  &__cta
    margin-top: auto
    a
      display: inline-block
      font-size: 14px
      font-weight: 700
      text-decoration: underline
      transition: color .25s $ease
      &:hover
        text-decoration: none
        color: $colorPrimary
