// FEED
.feed
  .container
    .feed__grid
      .feed__col.feed__col--50
        // article card
        .article-card
          .article-card__image
            img(src='img/articleCard_1.jpg')
          .article-card__content
            .article-card__title <strong>Sundrax</strong> на Prolight+Sound 2019
            .article-card__intro-text
              p Prolight + Sound NAMM - международная выставка сценического и студийного оборудования, инсталляций, технологий и услуг для проведения мероприятий. Выставка - отличная площадка для презентации новинок, обмена опытом и поиска новых клиентов.
            .article-card__cta
              a(href="#") Подробнее о выставке
      .feed__col.feed__col--50
        // article card
        .article-card
          .article-card__image
            img(src='img/articleCard_2.jpg')
          .article-card__content
            .article-card__title Программное обеспечение <strong>КУЛОН</strong>
            .article-card__intro-text
              p Мощный многофункциональный инструмент для дистанционного контроля, управления и настройки объектов освещения и архитектурно-художественной подсветки.
            .article-card__cta
              a(href="#") Узнать больше
      .feed__col
        // news card
        .news-card
          .news-card__image
            img(src='img/newsCard_1.jpg')
          .news-card__content
            .news-card__title Новое оборудование компании «Сандракс». Новая версия беспроводных трансиверов <strong>RadioGate Solid (DMX)</strong> с 2 и 4 DMX-портами
            .news-card__intro-text
              p Уникальные гибридные устройства, объединяющие в себе беспроводную передачу DMX512/ArtNet/sACN потоков и работу в сетях Ethernet.
            .news-card__cta
              a(href="#") Подробнее об устройстве
      .feed__col
        // news card
        .news-card
          .news-card__image
            img(src='img/newsCard_1.jpg')
          .news-card__content
            .news-card__title Новое оборудование компании «Сандракс».
            .news-card__intro-text
              p Уникальные гибридные устройства, объединяющие в себе беспроводную передачу DMX512/ArtNet/sACN потоков и работу в сетях Ethernet.
            .news-card__cta
              a(href="#") Подробнее об устройстве
      .feed__col
        // news card
        .news-card
          .news-card__image
            img(src='img/newsCard_1.jpg')
          .news-card__content
            .news-card__title Новое оборудование компании «Сандракс». Новая версия беспроводных трансиверов <strong>RadioGate Solid (DMX)</strong> с 2 и 4 DMX-портами
            .news-card__intro-text
              p Уникальные гибридные устройства
            .news-card__cta
              a(href="#") Подробнее об устройстве
