// PRODUCTS ON PROJECT
.products(itemscope itemtype="http://schema.org/ItemList")
  .container
    // schema.org hidden
    link(itemprop="mainEntityOfPage" href="https://sundrax.surge.sh/devices.html")
    meta(name="itemListOrder" content="Descending")
    .products__grid
      each row in [1,2,3,4,5,6]
        .products__col
          // product
          a(href="#" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product").product
            // shema.org hidden
            meta(itemprop="image" content="https://sundrax.surge.sh/img/product_1.jpg")
            meta(itemprop="position" content=row)
            meta(itemprop="url mainEntityOfPage" content="device.html")
            .product__image
              img(src='img/product_1.png' srcset='img/product_1@2x.png 2x')
            .product__content
              .product__title(itemprop="name model") Модуль РД
              .product__description(itemprop="description") Модуль РД устанавливается на корпус каждого светильника и управляется по радиоканалу 868 МГц.
        .products__col
          // product
          a(href="#" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product").product
            // shema.org hidden
            meta(itemprop="image" content="https://sundrax.surge.sh/img/product_1.jpg")
            meta(itemprop="position" content=row)
            meta(itemprop="url mainEntityOfPage" content="device.html")
            .product__image
              img(src='img/product_2.png' srcset='img/product_2@2x.png 2x')
            .product__content
              .product__title(itemprop="name model") КУЛОН-РД
              .product__description(itemprop="description") КУЛОН-РД предназначен для управления светильниками по радиоканалу (РД).
