// PRODUCTS NAVIGATION
.products-nav.header-offset
  .container
    .products-nav__list.products-nav__list--primary
      li.is-active
        a(href="#") Умный город
      li
        a(href="#") Умная дорога
      li
        a(href="#") Умная промышленность
      li
        a(href="#") Сценическое освещение
      li
        a(href="#") Архитектурная подсветка

    .products-nav__list.products-nav__list--secondary
      li
        a(href="#") Центральный контроллер
      li
        a(href="#") Групповое диммирование
      li.is-active
        a(href="#") Индивидуальное управление
      li
        a(href="#") Архитектурная подсветка
      li
        a(href="#") Экомониторинг
      li
        a(href="#") Умные розетки
