.products
  margin-bottom: 40px
  &__grid
    position: relative
    display: flex
    flex-wrap: wrap
    margin: 12px -12px
    &--more-gradient
      &::after
        display: inline-block
        content: ' '
        position: absolute
        z-index: 2
        bottom: 0px
        left: 0
        right: 0
        height: 100px
        background: linear-gradient(to top, rgba(white, .99) 0%, rgba(white, 0.01) 100%)
  &__col
    width: 100%
    flex: 0 0 50%
    max-width: 50%
    min-width: 1px
    min-height: 0
    padding: 12px
  &__load-more
    text-align: center
    margin: 1em 0
    a
      text-decoration: underline
      &:hover
        text-decoration: none

.products-op
  margin: 40px 0
  &__title
    font-size: 30px
    font-weight: 700
    a
      text-decoration: underline
      font-weight: 700
      transition: color .25s $ease
      &:hover
        color: $colorPrimary
        text-decoration: none
    &--big
      font-size: 40px
      font-weight: 400
  &__more
    margin-top: 20px

+r($md)
  .products
    &__col
      flex-basis: 100%
      max-width: 100%
  .products-op
    &__title
      &--big
        font-size: 30px
        br
          display: none


/* prodcut
.product
  display: flex
  align-items: center
  &__image
    flex: 0 1 180px
    text-align: center
    font-size: 0
    img
      max-width: 100%
  &__content
    flex: 1 1 auto
    padding-left: 20px
    transition: color .25s $ease
  &__title
    max-width: 200px
    font-size: 25px
    font-weight: 700
  &__description
    max-width: 200px
    font-size: 15px
    margin-top: 0.35em
  &:hover
    .product__content
      color: $colorPrimary

/* products nav
.products-nav
  margin: 30px 0
  &__list
    list-style: none
    margin: 0px -5px
    padding: 0
    display: flex
    flex-wrap: wrap
    li
      display: inlile-block
      margin-right: 10px
      &.is-active
        a
          color: $colorOrange
          text-decoration: none
      &:last-of-type
        margin-right: 0
    a
      display: inline-block
      padding: 5px
      text-decoration: underline
      transition: color .25s $ease
      &:hover
        color: $colorOrange

    &--secondary
      li
        font-size: 14px

+r($md)
  .products-nav
    &__list
      &--secondary
        margin-top: 15px
