// CONTENT
.text.text--graybg
  .container
    .text__grid
      .text__col.text__col--45
        .wysiwyg
          img(src='img/Aushan.jpg' srcset='img/Aushan@2x.jpg 2x')
          p Новая автостоянка на 1000 паркомест встала первым проектом, в котором были применены инновационные подвесные системы освещения.
          p На верхнем этаже многоэтажной стоянки светильники закреплены на стальных опорах, встроенных в структуру здания, а на наземном этаже парковки установленны отдельно стоящие опоры, размещенные по краям территории.
      .text__col.text__col--55
        .wysiwyg
          h2 Задача
          p Одной из причин внедрения новой системы освещения на предприятии является задача по реализации стратегии устойчивого развития компании, ориентированной на снижение энергопотребления, повышение качества охраны труда и уровня промышленной безопасности и минимизацию воздействия на окружающую среду
          br
          br
          h2 Решение
          p Проект был воплощен в жизнь в короткие сроки, от стадии разработки до запуска прошло не более полугода. Главный технический нюанс, с которым столкнулись специалисты – наличие в цехах холодных и горячих зон, для которых необходимо специальное термостойкое оборудование. В качестве светового решения для потолочного освещения прокатного цеха – холодной зоны – был выбран светильник Green Perform третьего поколения. В горячих зонах электросталеплавильного цеха были установлены светильники, которые обладают защитой от перегревов и способны работать при температуре +60С и выше. На площадках обслуживания были установлены светодиодные решения.
