// CONTENT
.text.text--m60
  .container
    .text__grid.text__grid--align-bottom
      .text__col.text__col--50
        .wysiwyg
          h3 Групповое управление и&nbsp;диммирование
          p Включение/отключение освещения по расписанию. Возможность пофазного отключения или диммирования для повышения срока службы газоразрядных ламп и экономии электроэнергии.
          p Диагностика напряжения на отходящих линиях. Сбор информациисо счетчиков. Возможность построения  АСКУЭ. Интеграция в существующую систему управления. Надежность и простота в эксплуатации.
          a(href="#").btn.btn-primary Подробнее >
      .text__col.text__col--50
        .wysiwyg
          img(src='img/solutionProdImage_1.png' srcset='img/solutionProdImage_1@2x.png 2x')

// CONTENT
.text.text--m60
  .container
    .text__grid.text__grid--align-bottom
      .text__col.text__col--50
        .wysiwyg
          h3 Индивидуальное управление светодиодными светильниками по&nbsp;силовой линии и&nbsp;радиоканалу
          p Включение/отключение освещения по расписанию. Возможность пофазного отключения или диммирования для повышения срока службы газоразрядных ламп и экономии электроэнергии.
          p Диагностика напряжения на отходящих линиях. Сбор информациисо счетчиков. Возможность построения  АСКУЭ. Интеграция в существующую систему управления. Надежность и простота в эксплуатации.
          a(href="#").btn.btn-primary Подробнее >
      .text__col.text__col--50
        .wysiwyg
          img(src='img/solutionProdImage_2.png' srcset='img/solutionProdImage_2@2x.png 2x')

// CONTENT
.text.text--m60
  .container
    .text__grid.text__grid--align-bottom
      .text__col.text__col--50
        .wysiwyg
          h3 Экомониторинг
          p Включение/отключение освещения по расписанию. Возможность пофазного отключения или диммирования для повышения срока службы газоразрядных ламп и экономии электроэнергии.
          p Диагностика напряжения на отходящих линиях. Сбор информациисо счетчиков. Возможность построения  АСКУЭ. Интеграция в существующую систему управления. Надежность и простота в эксплуатации.
          a(href="#").btn.btn-primary Подробнее >
      .text__col.text__col--50
        .wysiwyg
          img(src='img/solutionProdImage_2.png' srcset='img/solutionProdImage_2@2x.png 2x')

// CONTENT
.text.text--m60
  .container
    .text__grid.text__grid--align-bottom
      .text__col.text__col--50
        .wysiwyg
          h3 Умные розетки
          p Включение/отключение освещения по расписанию. Возможность пофазного отключения или диммирования для повышения срока службы газоразрядных ламп и экономии электроэнергии.
          p Диагностика напряжения на отходящих линиях. Сбор информациисо счетчиков. Возможность построения  АСКУЭ. Интеграция в существующую систему управления. Надежность и простота в эксплуатации.
          a(href="#").btn.btn-primary Подробнее >
      .text__col.text__col--50
        .wysiwyg
          img(src='img/solutionProdImage_2.png' srcset='img/solutionProdImage_2@2x.png 2x')
