// CONTENT
.text
  .container
    .text__wrapper
      .text__title.text__title--inline Красивый город - <strong>светлый город</strong>
      .wysiwyg
        p На улицах города должно быть так же уютно и удобно, как дома. Поэтому мы разрабатываем новые устройства, модели фонарей и системы освещения для улиц и дорог. Мы поможем вам сделать город светлым и безопасным, сэкономить средства и позаботиться об окружающей среде.
        a(href="#").btn.btn-primary Скачать брошюру
