// CONTENT
.text.text--slider-sections
  .swiper-container(js-swiper-textsections)
    .swiper-wrapper
      .swiper-slide
        .container
          .text__grid
            .text__col.text__col--55
              .wysiwyg
                h2 Групповой контроль
                p Групповое управление наружным освещением населенного пункта и автомобильной дороги отличает простота и доступность внедрения, низкие затраты на установку и техническое обслуживание.
                p Экономия электроэнергии достигается за счет оптимизации графика включения/отключения наружного освещения.
                p Решение выполнено на базе центрального контроллера КУЛОН-Ц, который устанавливается в уже существующий шкаф наружного освещения или поставляется в составе УВР ШУНО КУЛОН.
                p Модуль КУЛОН-Ц обеспечивает удаленный контроль работы освещения и всего оборудования в шкафу, а также удаленное управление магнитными пускателями и дополнительными модулями КУЛОН.
            .text__col.text__col--45
              .wysiwyg
                img(src='img/cityLight_2.jpg' srcset='img/cityLight_2@2x.jpg 2x')
      .swiper-slide
        .container
          .text__grid
            .text__col.text__col--45
              .wysiwyg
                img(src='img/cityLight_1.jpg' srcset='img/cityLight_1@2x.jpg 2x')
            .text__col.text__col--55
              .wysiwyg
                h2 Пофазное диммирование
                p Групповое управление наружным освещением с диммированием позволяет плавно регулировать яркость лампы светильников.
                p В случае применения этого решения в шкаф управления наружным освещением устанавливается дополнительный модуль стабилизации и регулировки напряжения в трехфазных электрических линиях КУЛОН-Д.
                p Применение технологии диммирования обеспечивает экономию до 40% расходов на электроэнергию.
                p Решение имеет низкие затраты на установку и обслуживание, а также легко интегрируется в уже существующую систему управления наружным освещением.

    .swiper-pagination

// CONTENT
.text.text--graybg
  .container
    .text__grid
      .text__col.text__col--45
        .wysiwyg
          img(src='img/cityLight_1.jpg' srcset='img/cityLight_1@2x.jpg 2x')
      .text__col.text__col--55
        .wysiwyg
          h2 Пофазное диммирование
          p Групповое управление наружным освещением с диммированием позволяет плавно регулировать яркость лампы светильников.
          p В случае применения этого решения в шкаф управления наружным освещением устанавливается дополнительный модуль стабилизации и регулировки напряжения в трехфазных электрических линиях КУЛОН-Д.
          p Применение технологии диммирования обеспечивает экономию до 40% расходов на электроэнергию.
          p Решение имеет низкие затраты на установку и обслуживание, а также легко интегрируется в уже существующую систему управления наружным освещением.
