// CONTENT
.text.text--graybg
  .container
    .text__wrapper
      .text__title <strong>Автоматизированная система</strong> наружного освещения «Кулон»
      .wysiwyg
        p Внедрение АСУНО «Кулон» в среднем позволяет сохранить до 40-80% потребляемой электроэнергии в зависимости от типов установленных светильников за счет применения расписаний диммирования, пофазного отключения, управления уровнем освещения в реальном времени, динамического включения по сигналу датчика, а срочные уведомления о неполадках на линии помогают сократить затраты на обслуживание и поддерживать бесперебойную работу системы освещения.
        p АСУНО «Кулон» — программно-аппаратный комплекс, состоящий из набора модулей и специализированного программного обеспечения для диспетчерского пункта. Система применяется для диагностики и управления сетями наружного освещения автодорог, транспортных развязок, улиц, дворов, производственных площадок и других удаленных объектов освещения.
    ul.text__links
      each link in ["Групповое управление", "Индивидуальное управление", "Архитектурная подсветка", "Управление подстанциями", "Экомониторинг", "Умные розетки"]
        li
          a(href="#")= link
