// CONTENT
.text.text--graybg
  .container
    .wysiwyg
      h3 Для чего нужно диммирование светодиодных светильников?
    .text__wrapper
      .wysiwyg
        p Диммирование – легкий и эффективный способ регулировать интенсивность светового потока и очередное достижение развития светодиодных технологий.
        p Впервые диммирование источников света было применено еще в ХIXвеке в театральных постановках, когда сцена затемнялась или освещалась в зависимости от происходящих действий. Такой эффект достигался посредством использования затемняющих штор на прожекторах.
        p Современные диммеры существенно отличаются от своих предшественников, однако функции их назначения по-прежнему остаются неизменными – регулировка интенсивности светового потока.
        p Диммирование светодиодных светильников позволяет создать мягкую уютную атмосферу в спальне, быстро сменить обстановку в общественных местах (ресторанах/барах/кафе), организовать яркое освещение в нужный момент.
