// CONTENT
.text.text--graybg
  .container
    .text__wrapper
      .text__title <strong>Современные системы - это качественное</strong> световое оборудование, управление и сервис
      .wysiwyg.w-500
        p Выберите из сотни вариантов, устройства подходящих под ваши задачи. <br/> <a href="#">Изучите наш ассортимент технологичных устройств</a>
        p Таким образом сложившаяся структура организации требуют от нас анализа новых предложений. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа соответствующий условий активизации. Равным образом постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития.
        p Наши сервисы помогут вам на каждом этапе: при подборе, установке, вводе в эксплуатацию и во время эксплуатации систем освещения.
        a(href="#").btn.btn-primary Подробнее в коммерческом предложении
