// buttons
button
  -webkit-appearance: none
  border: 0
  box-shadow: none
  cursor: pointer
  &:focus
    outline: none

.btn
  display: inline-block
  position: relative
  text-align: center
  cursor: pointer
  transition: all $transitionSpeed $ease
  &:focus, &:active
    outline: none
  &--block
    display: block
    width: 100%

  &-primary
    background: #c64721
    color: white
    padding: 11px 35px 9px
    border-radius: 8px
    font-size: 18px
    &:hover
      background: $colorPrimary

