// SUPPORT
.support
  // support head
  .support-head
    .container
      .support-head__grid
        // col
        .support-head__col
          .support-head__title
            span Единый телефон поддержки
            a(href="#") 8-800-600-50-49
          .support-head__description
            .wysiwyg
              p Каждый клиент нашей компании может рассчитывать на постоянную поддержку – для этого достаточно обратиться к диспетчеру и получить консультацию, задав интересующий вопрос по телефону.
            a(href="#").btn.btn-primary Задать вопрос
        // col
        .support-head__col
          .support-head__title
            span Телефон сервисной службы
            a(href="#") +7 495 797 32 24
          .support-head__description
            .wysiwyg
              p Если у вас возникли вопросы относительно ремонта или доставки оборудования, то всегда можете рассчитывать на сервисную поддержку. или <a href="mailto:svс@sundrax.ru">svс@sundrax.ru </a>
            a(href="#").btn.btn-primary Заказать звонок


  // content
  .support-links
    .container
      .support-links__title Частые вопросы
      ul.support-links__list.support-links__list--faq
        li
          a(href="#") Как мне получить доступ к библиотеке продуктов КУЛОН?
        li
          a(href="#") Как мне вернуть по гарантии неисправное оборудование?
        li
          a(href="#") Где я могу скачать брошюры и каталоги?
        li
          a(href="#") Как мне оформить заказ на покупку оборудования?
        li
          a(href="#") Где находится ваш магазин?
