.hero__actions
  .container
    .hero__actions-list
      li
        a(href='#')
          +svgMono('commerc')
          span Коммерческое предложение
      li
        a(href='#')
          +svgMono('req')
          span Запрос счета
      li
        a(href='#')
          +svgMono('maint')
          span Сервисная служба
