// HERO
.hero(style="background-image: url(../img/heroSolutionsCity.jpg)")
  .container
    .hero__wrapper
      //- h1.hero__title Более 20 решений
      h2.hero__subtitle Каждый год система КУЛОН помогает
        strong сократить расходы на освещение на 20%

  include _actions
