// HERO
.hero(style="background-image: url(../img/heroSolutions.jpg)")
  .container
    .hero__wrapper
      h1.hero__title Более 20 решений
      h2.hero__subtitle для улучшения качества освещения

  include _actions
