// HERO
.hero.hero--inner(style="background-image: url(../img/heroInner.jpg)")
  .container
    .hero__wrapper
      h1.hero__title 20 лет успешной работы
      h2.hero__subtitle в России и за рубежом
