// HERO
.hero(style="background-image: url(../img/heroProjects.jpg)")
  .container
    .hero__wrapper
      h1.hero__title 7 миллионов объектов
      h2.hero__subtitle по всему миру

  include _actions
