// HERO
.hero(style="background-image: url(../img/hero.jpg)")
  .container
    .hero__wrapper
      h1.hero__title Умные технологии освещения
      h2.hero__subtitle успешно эксплуатируемые в 15 странах мира

  include _actions
