// HERO
.hero(style="background-image: url(../img/hero.jpg)")
  .container
    .hero__wrapper
      h1.hero__title Умные технологии освещения
      h2.hero__subtitle успешно эксплуатируемые в 15 странах мира

  .hero__actions
    .container
      .hero__actions-list
        li
          a(href='#')
            +svgMono('commerc')
            span Коммерческое предложение
        li
          a(href='#')
            +svgMono('req')
            span Запрос счета
        li
          a(href='#')
            +svgMono('maint')
            span Сервисная служба
