// PAGE TITLE
.page-title.page-title--bottom
  .container
    .page-title__wrapper
      .page-title__title.page-title__title--nowrap Остались вопросы? <strong>Свяжитесь с нами</strong>
    .page-title__button
      a(href='#modalCallback' js-popup).btn.btn-primary Заказать звонок

