// PAGE TITLE
.page-title
  .container
    .page-title__wrapper
      .page-title__title <strong>Будьте в курсе свежих новостей</strong> и запусков новых продуктов
      .page-title__cta
        a(href="#modalSubscribe" js-popup).btn.btn-primary Подписаться на новости
