.page-title
  padding: 135px 0 0px
  &--bottom
    padding: 0 0 50px
  &__wrapper
    display: flex
    align-items: center
    margin: 0 -12px
  &__title, &__cta
    padding-left: 12px
    padding-right: 12px
    min-width: 1px
    min-height: 0
  &__title
    flex: 1 1 auto
    font-size: 40px
    strong
      display: block
    &--nowrap
      strong
        display: inline-block
  &__cta
    flex: 0 0 auto
  &__button
    margin-top: 0.5em


+r($lg)
  .page-title
    padding-top: 113px
    &--bottom
      padding-top: 0

+r($md)
  .page-title
    &__wrapper
      flex-wrap: wrap
    &__cta
      margin-top: 1em

+r($sm)
  .page-title
    &__title
      font-size: 30px
