// PAGE TITLE
.page-title.page-title--bottom
  .container
    .page-title__wrapper
      .page-title__title <strong>Узнайте стоимость вашего будущего проекта</strong> с помощью наших специалистов
    .page-title__button
      a(href="#").btn.btn-primary Рассчитать стоимость
