// PAGE TITLE
.page-title.page-title--center
  .container
    .page-title__wrapper
      .page-title__title.page-title__title--nowrap <strong>Свяжитесь с нами</strong> если у вас остались вопросы
    .page-title__button
      a(href="#").btn.btn-primary Заказать звонок
