/* article
.article
  &__title
    font-size: 25px
    max-width: 600px
    margin: 0 0 .5em
  &__tags
    margin: 1em 0
    font-size: 18px
    a
      display: inline-block
      margin-right: .5em
      color: $colorBlue
      transition: color .25s $ease
      &:hover
        color: $colorPrimary
  &__content
    max-width: 520px
    &--full
      max-width: 100%
  &__date
    font-size: 18px
    margin: 1em 0
    color: #7f7e7c

  &__socials
    margin: .5em 0 -.2em
    font-size: 38px
    color: #c64721
  &__cta
    margin: 1em 0

  &__origin
    font-size: 15px
    margin-bottom: 1.5em
    a
      display: inline-block
      margin-left: 0.5em
      text-decoration: underline
      color: $colorBlue
      transition: .25s $ease
      &:hover
        color: $colorOrange
        text-decoration: none

  &__slider

  &__thumbs
    margin-top: 1em

  &__slide
    position: relative
    font-size: 0
    transition: border .25s $ease
    border: 2px solid transparent
    span
      display: block
      position: absolute
      bottom: 0%
      right: 0%
      font-size: 18px
      font-weight: 700
      line-height: 1
      padding: 4px 7px
      background: $colorPrimary
      color: white
    img
      width: 100%
    &--thumb
      cursor: pointer
      &:hover, &.swiper-slide-active
        border-color: $colorPrimary
