// CONTENT
.content
  .container
    .content__grid
      .content__col.content__col--primary
        .wysiwyg
          p Компания «Сандракс» - ведущий российский разработчик и производитель инновационных систем управления и контроля освещения КУЛОН и АРИСТО. Наша команда выполняет весь цикл работ от разработки оборудования и программного обеспечения до внедрения и последующего обслуживания.

          p На российском рынке «Сандракс» работает более 10 лет. В 2010 году компания вышла на международный рынок. Продукция «Сандракс» представлена в 25 странах мира. p Ключевым преимуществом компании является широкий спектр технических решений для управления наружным и промышленным освещением, архитектурно-художественной подсветкой, телемеханикой электрических подстанций и театрально-сценическим освещением.

          h2 Чем мы можем быть Вам полезны?
          p Технологии, используемые в нашем оборудовании, позволяют дистанционно управлять и контролировать работу групп или отдельных светильников различного типа по проводным и беспроводным каналам связи. Применяемые программные решения обеспечивают возможность эффективной интеграции наших систем с другими информационными ресурсами, в том числе в рамках концепций «Умная дорога» и «Умный город».

          p Ассортимент оборудования постоянно расширяется, программное обеспечение обновляется на регулярной основе. Опыт и экспертиза позволяют нам реализовывать проекты по созданию автоматизированных систем технологического учета энергоресурсов, центров управления производством для городской и транспортной инфраструктуры, комплексных интеллектуальных систем.

          h2 Наши подходы
          p Высокое качество и надежность производимой продукции, клиентоориентированность, индивидуальный подход к каждому проекту позволили компании «Сандракс» прочно занять лидирующие позиции на рынке автоматизированных систем управления освещением. АСУНО КУЛОН успешно внедряется с 2009 года и эксплуатируется на более чем 5 000 объектах.
          p Решения компании «Сандракс» внедрены на объектах наружного освещения ФДА «Росавтодор», в более чем 50 городах, на объектах нефтегазодобывающего управления «Лениногорскнефть» ПАО «Татнефть» и АО «АЭМ – Технологии» «Атоммаш» г. Волгодонск (ГК Росатом), применяются для архитектурно-художественной подсветки города Москвы и Олимпийских объектов г. Сочи, на крупнейших спортивных стадионах («Открытие Арена» и «Спартак» в Москве, «Фетисов Арена» во Владивостоке), в Государственном академическом Большом театре, Мариинском театре и др.

      .content__col.content__col--secondary
        .wysiwyg
          br
          br
          img(src='img/aboutImg.png' srcset='img/aboutImg@2x.png 2x' alt="")
