// CONTENT
.content
  .container
    .content__grid
      .content__col.content__col--half
        .wysiwyg.wysiwyg--contacttrash
          h3 Контакты
          p Россия, 115114, г. Москва, <br/> ул. Летниковская, д. 11/10, стр. 1, подъезд 6

          h5 Служба технической поддержки:
          h4 8 800 600 50 49
          h5
            a(href="mailto:help@sundrax.ru") help@sundrax.ru

          h5 Сервисная служба:
          h4 +7 495 797 32 24
          h5
            a(href="mailto:svc@sundrax.ru") svc@sundrax.ru

          h5 Отдел продаж:
          h4 +7 495 797 32 18

          p По другим вопросам отправьте свое сообщение <br/>на электронную почту <a href="mailto:sales@sundrax.ru">sales@sundrax.ru</a>

      .content__col.content__col--half
        .wysiwyg
          .scaler(data-ar="16:9")
            video(controls)
              source(src="/video/test.mp4" type="video/mp4")
