// CONTENT
.content.header-offset
  .container
    .content__grid
      .content__col.content__col--article
        // ARTICLE
        .article
          h1.article__title АСУНО КУЛОН управляет освещением периметра крупного промышленного предприятия
          .article__tags
            a(href="#") #Проекты
            a(href="#") #АСУПО
            a(href="#") #КУЛОН
            a(href="#") #Промышленноеосвещение
          .article__content
            .wysiwyg
              p Система КУЛОН позволяет управлять освещением периметра предприятия по годовому расписанию включений и отключений или в ручном режиме по командам диспетчера.

              p Идейные соображения высшего порядка, а также новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке систем массового участия. Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет оценить значение направлений прогрессивного развития. Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании форм развития.
          .article__date 20 Марта 2019
          include _share
          .article__cta
            a(href='#').btn.btn-primary Подробнее о проекте

      .content__col.content__col--slider
        // SLIDER
        .article__slider.swiper-container(js-swiper-article-slider)
          .swiper-wrapper
            each slide in [1,2,3,4,5,6]
              .article__slide.swiper-slide
                span= slide
                img(src='img/articleSliderImage.jpg' srcset='img/articleSliderImage@2x.jpg 2x' alt="")

        .article__thumbs.swiper-container(js-swiper-article-slider-thumbs)
          .swiper-wrapper
            each thumb in [1,2,3,4,5,6]
              .article__slide.article__slide--thumb.swiper-slide
                span= thumb
                img(src='img/articleSliderImage.jpg' srcset='img/articleSliderImage@2x.jpg 2x' alt="")
