// CONTENT
.content.header-offset
  .container
    .content__grid
      .content__col.content__col--press
        // ARTICLE
        .article
          .article__origin
            span Оригинал статьи
            a(href="#") http://www.lipetskmedia.ru/news/view/109229-Avtomatizirovannuyu.html

          h1.article__title Автоматизированную систему освещения поставили в нескольких районах Липецкой области
          .article__date 17.12.2018
          .article__content.article__content--full
            .wysiwyg
              p В  Липецкой области установили  25 контроллеров управления освещением «Кулон-Ц» на автомобильных дорогах общего пользования регионального значения Это сделано в рамках III этапа создания  автоматизированной системы управления наружным освещением (АСУНО) «Кулон».
              p В состав системы  «Кулон» включен  в общей сложности 81 шкаф управления наружным освещением на следующих автомобильных дорогах:

              ul
                li «Липецк-Грязи-Песковатка»;
                li «Грязи-Хворостянка-Добринка»;
                li «Липецк-Чаплыгин»;
                li «Подъезд к с. Боринское»;
                li «Обход г. Липецка»;
                li «Липецк-Данков»;
                li «Восточный обход промышленной зоны г. Липецка»;
                li «Липецк-Борисовка»;
                li «Обход ЛТЗ»;
                li «Липецк-Октябрьское-Усмань»;
                li «Доброе-Трубетчино-Вязово-Лебедянь»;
                li «Лев Толстой-Данков»;
                li «Сселки-Плеханово-Грязи»;
                li «Подъезд к Аэропорту».
              p Автоматизированная система управления наружным освещением  показывает оперативное состояние (включено/выключено, предупреждения, сбои в работе и т.д.) удаленных объектов на карте местности. Позволяет вести дистанционное управление наружным освещением по командам диспетчера. показывает состояние удаленных объектов, с индикацией статуса входных и выходных фаз, показаний счетчика электроэнергии, расписания включения-отключения освещения на текущие сутки.

          include _share

