include ../shema.org/_publisher

// CONTENT
.content.header-offset(itemscope itemtype="http://schema.org/Article")
  // shema.org hidden
  link(itemprop="mainEntityOfPage" href="https://sundrax.surge.sh/project.html")
  meta(itemprop="inLanguage" content="ru")
  meta(itemprop="image" content="https://sundrax.surge.sh/img/articleSliderImage.jpg")
  meta(itemprop="author" content="Sundrax")
  meta(itemprop="dateModified" content="2019-07-04T09:04:20+02:00")
  meta(itemprop="datePublished" content="2019-07-04T09:04:20+02:00")
  +metaPublisher

  .container
    .content__grid
      .content__col.content__col--article
        // ARTICLE
        .article
          h1.article__title.article__title--huge(itemprop="headline") Инновационное освещение парковки <span class="w-400">крупного торгового центра</span>
          .article__content
            .wysiwyg(itemprop="articleBody")
              h5 Парковка ТЦ в центре города
              p Система потолочного освещения позволила не только добиться снижения энергозатрат на 72%, но также и обеспечить необходимый уровень освещения для комфортных и безопасных условий труда.
              blockquote Мы рады что воспользовались оборудованием Сандракс. Система полностью соответствует нашим ожиданиям и потребностям и собрала очень положительные отзывы».
              p
                strong - главный инженер, Артем Ломов

          include _share


      .content__col.content__col--slider
        // SLIDER
        .article__slider.swiper-container(js-swiper-article-slider js-popup-gallery)
          .swiper-wrapper
            each slide in [1,2,3,4,5,6]
              .article__slide.swiper-slide
                span= slide
                a(href="img/articleSliderImage.jpg").no-barba
                  img(src='img/articleSliderImage.jpg' srcset='img/articleSliderImage@2x.jpg 2x' alt="")

        .article__thumbs.swiper-container(js-swiper-article-slider-thumbs)
          .swiper-wrapper
            each thumb in [1,2,3,4,5,6]
              .article__slide.article__slide--thumb.swiper-slide
                span= thumb
                img(src='img/articleSliderImage.jpg' srcset='img/articleSliderImage@2x.jpg 2x' alt="")
