// SHARE (socials)
.article__socials
  ul.socials
    li.socials__button
      a(href="#")
        +svgMono('social-vk')
    li.socials__button
      a(href="#")
        +svgMono('social-facebook')
    li.socials__button
      a(href="#")
        +svgMono('social-share')
