// CONTENT
.content
  .container
    .row
      .col-12.col-md-9
        .wysiwyg
          p
            | Организация – ООО «Сандракс»<br/>
            | Контактное лицо – Сервисная служба<br/>
            | Адрес доставки – 115114, г. Москва, ул. Летниковская, д.11/10, стр. 1, подъезд 6.<br/>
            | Контактный телефон – +7 495 797 32 24<br/>
            | Время доставки – с 10-00 до 17-00
          br
          a(href="#").btn.btn-primary Заказать звонок
          br
          br

          h3 Сервисная служба
          p При возникновении подозрения о технической неисправности оборудования, клиент должен обратиться к специалисту Службы технической поддержки по телефону 8-800-600-50-49 и сообщить о выявленных признаках неисправности.
          p В случае если специалист Службы технической поддержки подтвердит факт невозможности дистанционного восстановления оборудования, его необходимо отправить в Сервисную службу, для проведения диагностики и устранения неисправности. При отправке оборудования на диагностику в Сервисную службу, клиент должен произвести необходимую упаковку, исключающую возможность механического повреждения оборудования, а также приложить следующие документы:

    .wysiwyg
      p
        strong
          span(style="font-size: 25px") 1.
          |  Копию товарной накладной, подтверждающей факт приобретения оборудования у ООО «Сандракс» или официального дистрибьютора <br/>
        strong
          span(style="font-size: 25px") 2.
          |  Полностью заполненную форму сопроводительного письма на каждую отправляемую единицу оборудования <br/>
        strong
          span(style="font-size: 25px") 3.
          |  Полный перечень оборудования, отправленного в адрес Сервисной службы <br/>

    .row
      .col-12.col-md-9
        .wysiwyg
          p Отправка оборудования в адрес Сервисной службы осуществляется «до двери» за счёт клиента. Отправка восстановленного оборудования с адреса Сервисной Службы, согласно гарантийных обязательств, осуществляется до адреса клиента за счёт ООО «Сандракс». В случае невыявления неисправности или негарантийного восстановления оборудования, доставка от адреса Сервисной службы до адреса клиента, осуществляется за счёт клиента. В случае отправки оборудования клиентом в адрес Сервисной Службы за счёт ООО «Сандракс», сумма транспортных расходов будет включена в стоимость работ по восстановлению оборудования клиента.

    .wysiwyg
      .content__ico-row
        img(src='img/Diagnostic.svg')
        .content__ico-row-text
          span(style="font-size: 20px") Диагностика
          p Срок диагностики оборудования специалистами Сервисной службы составляет пять (5) рабочих дней, с момента получения оборудования от клиента.
          p По окончанию проведения диагностики оборудования, в соответствии с контактными данными клиента и предпочтительному способу передачи информации, указанными в сопроводительном письме, клиенту предоставляется следующая информация:
          p
            strong
              | Акт технической экспертизы, заполненный сотрудником Сервисной службы<br/>
              | Фотографии неисправных элементов (при их наличии)<br/>
              | Счёт за выполненные работы (в случае негарантийного восстановления оборудования)
      .content__ico-row
        img(src='img/Recover.svg')
        .content__ico-row-text
          span(style="font-size: 20px") Восстановление
          p Срок восстановления оборудования специалистами Сервисной службы составляет до 10 рабочих дней, с момента поступления оплаты на расчётный счёт ООО «Сандракс» (в случае негарантийного восстановления), при наличии необходимых элементов на складе Сервисной службы. В случае отсутствия необходимых элементов на складе Сервисной службы, срок восстановления оборудования может быть увеличен до 20 рабочих дней.

    .row
      .col-12.col-md-9
        .wysiwyg
          p
            strong Гарантийное восстановление оборудования не производится в случаях: <br/>
            | Окончания срока гарантийного обслуживания оборудования. <br/>
            | Выявления механических повреждений, а также нарушений правил эксплуатации оборудования. <br/>
            | Выявления неисправностей возникших в результате ремонта, произведённого неуполномоченными лицами, а также при попытках внесения изменений во внутренние схемы и компоненты оборудования. <br/>
            | Выявления неисправностей возникших в результате попадания влаги, жидкостей, повышенной запылённости, а также попадания внутрь корпуса оборудования посторонних предметов. <br/>
            | Выявления неисправностей возникших в результате неправильного подключения оборудования к питающей линии электросети.
