---
title: Devices
---
extends shared/_layout
block content

  // control header class
  div(js-header-class data-class='is-inner-black')

  include ../components/products/_navigation
  include ../components/products/_grid
  include ../components/pageTitle/_devicesBottom
