---
title: Feedback
---
extends shared/_layout
block content

  // control header class
  div(js-header-class data-class='is-inner-black')

  include ../components/pageTitle/_feedback
  include ../components/feedback/_feedback
