---
title: Homepage
---
extends shared/_layout
block content

  include ../components/hero/_hero
  include ../components/serviceCategories/_serviceCategories
  include ../components/feed/_featured
  include ../components/socials/_subscribe
