---
title: News
---
extends shared/_layout
block content

  // control header class
  div(js-header-class data-class='is-inner-black')

  include ../components/pageTitle/_news
  include ../components/timeline/_timeline
  include ../components/news/_newsList

block modals
  include ../components/modals/_callback
  include ../components/modals/_request
  include ../components/modals/_subscribe
