---
title: Project
---
extends shared/_layout
block content

  // control header class
  div(js-header-class data-class='is-inner-black')

  include ../components/content/_projectArticle
  include ../components/text/_projectExample
  include ../components/text/_projectBenefits
  include ../components/text/_projectSchema
  include ../components/products/_onProject
  include ../components/forms/_requestSection
  include ../components/projects/_similar
