---
title: Projects 2
---
extends shared/_layout
block content

  include ../components/hero/_heroProjects
  include ../components/projects/_projectsGrid2
  include ../components/pageTitle/_projectsBottom
  include ../components/scrolltop/_scrolltop
