---
title: Solutions city 2
---
extends shared/_layout
block content

  // control header class
  div(js-header-class data-class='is-inner-black')

  include ../components/hero/_heroSolutionsCityImaged
  include ../components/text/_solutionsCityLightBrochure
  include ../components/text/_solutionsBenefitsCity
  include ../components/text/_solutionsCityLight
  include ../components/text/_solutionsCityImaged
  include ../components/products/_solutionsCategory2
  include ../components/projects/_examples
  include ../components/pageTitle/_solutionsCityBottom
  include ../components/banners/_culon3
