mixin metaPublisher
  span(itemtype="https://schema.org/Organization" itemscope="itemscope" itemprop="publisher")
    link(itemprop="url" href="https://www.sundrax.ru")
    span(itemprop="name" content="Sundrax")
    span(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
      link(itemprop="url" href="https://sundrax.ru//upload/iblock/d48/sbig.jpg")
      meta(itemprop="width" content="312")
      meta( temprop="height" content="135")
    meta(itemprop="sameAs" content="https://www.facebook.com/sundrax/")
    meta(itemprop="sameAs" content="https://vk.com/sundrax")
    meta(itemprop="sameAs" content="hhttps://www.instagram.com/sundraxelectronics/")
