/* HEADER
.header
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 9
  will-change: transform
  backface-visibility: hidden
  transform-style: preserve-3d
  transition: background .25s $ease
  &__wrapper
    display: flex
    align-items: center
    padding: 15px 0 35px 0

  &__logo
    flex: 0 0 auto
    font-size: 0px
    padding-right: 25px
    .ico
      font-size: 43px

  &__menu
    position: relative
    flex: 0 1 auto
    display: flex
    align-items: center
    font-size: 17px
    margin: 0
    padding: 0
    li
      display: inline-block
      margin-right: 8px
      // white-space: nowrap
      &:last-child
        margin-right: 0
      ul
        list-style: none
        margin: 0
        padding: 10px 0 0
        position: absolute
        bottom: -35px
        left: 0
        z-index: 2
        display: flex
        font-size: 15px
        opacity: 0
        pointer-events: none
        transform: translate3d(7px, 0, 0)
        transition: .25s $ease
        li
          white-space: nowrap
      &.is-active, &:hover
        > a
          color: $colorOrange
        ul
          opacity: 1
          pointer-events: all
          transform: translate3d(0,0,0)
      &.is-active
        > a::before
          display: block
          content: ' '
          position: absolute
          top: 10px
          left: -2px
          size: 4px
          border-radius: 50%
          background: $colorOrange
      &.is-sibling-hovered
        ul
          opacity: 0
          pointer-events: none
          transform: translate3d(-7px,0,0)

    a
      position: relative
      display: inline-block
      padding: 5px
      transition: color .25s $ease
      &:hover
        color: $colorOrange

  &__cta
    display: flex
    align-items: flex-start
    margin-left: auto
    padding-left: 10px
    padding-top: 15px
  &__socials
    flex: 0 0 auto
    li
      font-size: 18px

  &__search
    position: relative
    flex: 0 0 auto
    max-width: 120px
    margin-left: 7px
    padding-top: 0.05em
    input
      -webkit-appearance: none
      width: 100%
      display: block
      background: rgba(white, 0.3)
      border: 0
      border-radius: 6px
      padding: 2px 10px
      font-size: 12px
      color: rgba($fontColor, .5)
      transition: .25s $ease
      &::placeholder
        color: rgba($fontColor, .5)
      &:focus
        background-color: rgba(white, .99)
        color: $fontColor

    button
      -webkit-appearance: none
      background: transparent
      position: absolute
      z-index: 2
      right: 0
      top: 50%
      transform: translateY(-50%)
      font-size: 0
      color: white
      transition: color .25s $ease
      .ico
        font-size: 11px
      &:hover
        color: $colorPrimary

  &__contacts
    flex: 0 0 auto
    margin-left: 7px
    display: flex
    flex-direction: column
  &__phone
    font-size: 17px
    transition: color .25s $ease
    &:hover
      color: $colorPrimary
  &__callback
    font-size: 14px
    text-decoration: underline
    &:hover
      text-decoration: none
  &__phone-mobile
    display: none
    font-size: 0
    display: none
    color: white
    transition: color .25s $ease
    &:hover
      color: $colorOrange
    .ico
      font-size: 20px

  &__hamburger
    display: none
    padding-left: 13px

  &.is-white
    color: white
    background-color: transparent
    .hamburger-inner
      background-color: white
      &::before, &::after
        background-color: white
    .hamburger:hover
      .hamburger-inner
        background-color: $colorOrange
        &::before, &::after
          background-color: $colorOrange

  &.is-menu-open
    background: $colorPrimary !important
    .hamburger:hover
      .hamburger-inner
        background-color: rgba(white, .7)
        &::before, &::after
          background-color: rgba(white, .7)
    .header__search button:hover, .header__phone-mobile:hover
      color: rgba(white, .7)

  &.is-fixed
    // should be normalized to -100% scroll at this point
    position: fixed
    // visibility: hidden
    transform: translate3d(0,-100%,0) !important
    background: $fontColor
    transition: transform .25s $ease, background .25s $ease
    .header__wrapper
      padding-top: 5px
      // padding-bottom: 5px


  &.is-fixed-visible
    // visibility: visible
    transform: translate3d(0,0,0) !important

  &.is-transitioning
    transition: transform .25s $ease, background .25s $ease
    transform: translate3d(0,-100%,0) !important

  &[data-modifier='is-inner-black']
    background: $fontColor
    color: white

+r($lg)
  .header
    &__cta
      align-items: center
    &__socials
      margin-top: 7px
    &__search
      margin-left: 20px
      size: 30px
      order: 2
      input
        position: absolute
        z-index: 1
        top: -2px
        left: -115px
        width: 150px
        padding: 10px
        background: white
        opacity: 0
        pointer-events: none
      button
        .ico
          font-size: 20px
        &:hover
          color: $colorOrange
      &.is-open
        input
          opacity: 1
          pointer-events: all
        button
          color: $colorOrange

    &__contacts
      order: 1
      margin-left: 25px
    &__phone-mobile
      display: block
    &__phone, &__callback
      display: none

+r(992)
  .header
    &__wrapper
      padding-bottom: 15px
    &__cta
      padding-top: 0px
    &__menu
      display: none
    &__hamburger
      // margin-left: auto
      padding-top: 7px
      display: block


+r($md)
  .header

+r(480)
  .header
    &__logo
      padding-right: 0
    &__socials
      display: none
