li.is-active
  a(href="homepage.html") Сандракс
  ul
    li
      a(href='company.html') О компании
    li
      a(href='news.html') Новости
    li
      a(href='feedback.html') Отзывы
    li
      a(href='press.html') Пресса о нас
li
  a(href="solutions.html") Технологии и решения
  ul
    li
      a(href="#") Наружное освещение
    li
      a(href="#") Промышленное освещение
    li
      a(href="#") Архитектурная подсветка
    li
      a(href="#") Сценическое освещение
    li
      a(href="#") АСДУ ТП
    li
      a(href="#") Оборудование
li
  a(href="projects_2.html") Выполненные проекты
  ul
    li
      a(href="projects_1.html") Наружное освещение
    li
      a(href="projects_1.html") Промышленное освещение
    li
      a(href="projects_1.html") Архитектурная подсветка
    li
      a(href="projects_1.html") Сценическое освещение
    li
      a(href="projects_1.html") АСДУ ТП
li
  a(href="support_2.html") Поддержка
  ul
    li
      a(href="support_1.html") Клиентам
    li
      a(href="support_1.html") Проектировщикам
    li
      a(href="support_1.html") Сервис и гарантия
li
  a(href="contacts.html") Контакты
