.socials
  list-style: none
  margin: 0 -0.1em
  padding: 0
  li
    display: inline-block
    margin: 0
  a
    padding: 0px 0.1em
    display: inline-block
    transition: .25s ease

.subs-social
  background: $colorBg
  margin: 30px 0 0
  padding: 25px 0
  &__grid
    display: flex
    align-items: center
    margin: 0 -12px
  &__col
    width: 100%
    flex: 0 0 50%
    max-width: 50%
    min-width: 1px
    min-height: 0
    padding: 0 12px

  &__title
    font-size: 40px

  &__mediaplugin
    text-align: right
