// NEWS
.news-list
  .container
    each el in [1,2,3,4]
      .newslist-card
        a(href="#").newslist-card__image
          img(src='img/newsCard.jpg' srcset='img/newsCard@2x.jpg 2x')
        .newslist-card__content
          a(href="#").newslist-card__title Новое оборудование компании «Сандракс». <br/>Новая версия беспроводных трансиверов RadioGate Solid (DMX) <strong>с 2 и 4 DMX-портами.</strong>
          .newslist-card__description Уникальные гибридные устройства, объединяющие в себе беспроводную передачу DMX512/ArtNet/sACN-потоков и работу в сетях Ethernet.
          .newslist-card__tags
            a(href="#") #Новинки
            a(href="#") #DMX
            a(href="#") #Сценическоеосвещение
          .newslist-card__date 20 Марта 2019

