// NEWS
.news-list
  .container
    each el in [1,2,3,4]
      .newslist-card.newslist-card--press
        a(href="#").newslist-card__image
          img(src='img/newsCard.jpg' srcset='img/newsCard@2x.jpg @2x')
        .newslist-card__content
          a(href="#").newslist-card__title Pervo.ru Первоуральск Онлайн
          .newslist-card__description 404 опоры уличного освещения установят в Первоуральске до конца января 2019 года. Сейчас, для обеспечения безопасности дорожного движения на 325-м километре автомобильной дороги Р-242 Пермь – Екатеринбург (развязка на Первоуральск) проходят работы по установке 113 оцинкованных металлических опор электроосвещения.
          .newslist-card__cta
            a(href="#") Подробнее

