/* banner
.banner
  position: relative
  min-height: 470px
  margin: 30px 0
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  display: flex
  flex-direction: column
  .container
    flex: 1 1 auto
    display: flex
    flex-direction: column
  &__wrapper
    padding: 40px 0 30px
    margin: auto 0
    max-width: 50%
  &__grid
    display: flex
    flex-wrap: wrap
    align-items: flex-end
    margin: auto -12px
  &__col
    width: 100%
    min-width: 1px
    min-height: 0
    flex: 0 0 50%
    max-width: 50%
    padding: 0 12px
    h1, h2, h3, h4, h5
      margin-top: 0
  &__img
    text-align: right
    font-size: 0
    img
      max-width: 100%
  &--bg-gray
    background-color: $colorBg
    padding: 40px 0 30px
  &--white
    color: white
  &--h250
    min-height: 250px
    .wysiwyg
      h1, h2, h3, h4, h5
        margin-top: 0
        strong
          display: block

+r($md)
  .banner:not(.banner--bg-gray)
    background-position-x: 70%
    .container
      background: rgba($fontColor, .5)
  .banner
    &__wrapper
      max-width: 500px
      margin-top: 0
    &__grid
      flex-direction: column-reverse
    &__col
      flex-basis: 100%
      max-width: 100%
    &__img
      text-align: center
      margin-bottom: 1rem
