// BANNER
.banner.banner--white(style="background-image: url('../img/banerCulon.jpg')")
  .container
    .banner__wrapper
      .wysiwyg
        h3 Программное обеспечение КУЛОН
        p Мощный многофункциональный инструмент для дистанционного контроля, управления и настройки объектов освещения и архитектурно-художественной подсветки. Включает большой набор модулей для работы персонала центров управления,  руководителей подразделений эксплуатирующих и управляющих организаций.
        a(href="#").btn.btn-primary Узнать больше
