// BANNER
.banner.banner--h250.banner--bg-gray.banner--white(style="background-image:url('../img/bannerBackground.jpg')")
  .container
    .banner__grid
      .banner__col
        .wysiwyg
          h3.w-400 <strong>Узнайте больше о возможностях управления освещением</strong> с помощью единого программного обеспечения
          p Базовое программное обеспечение и сервер статистики КУЛОН позволяет удаленно управлять, настраивать и контролировать объекты наружного освещения.
          p Базовое программное обеспечение АСУНО КУЛОН предоставляет широкие возможности для оперативного контроля и управления объектами наружного освещения.
          a(href="#").btn.btn-primary Узнать больше

      .banner__col
        .banner__img
          img(src='img/culon.png' srcset='img/culon@2x.png 2x')
