// BANNER
.banner.banner--white.banner--h250(style="background-image: url('../img/banerLine.jpg')")
  .container
    .banner__wrapper
      .wysiwyg
        h2 Линейка решений
        p Архитектура системы настроена так, что подходит для любых типов светильников и бюджета любого уровня. Каждое решение, от простейшего до самого интеллектуального, базируется на едином центральном контроллере «Кулон-Ц», что упрощает масштабируемость системы.
