.ico-mono-arch {
  width: 1.03em;
  height: 1em;
  fill: #222;
}
.ico-mono-benefits-adapt {
  width: 1em;
  height: 1em;
  fill: #C64721;
}
.ico-mono-benefits-arch {
  width: 1.09em;
  height: 1em;
  fill: #C64721;
}
.ico-mono-benefits-cost {
  width: 1.14em;
  height: 1em;
  fill: #C64721;
}
.ico-mono-benefits-energy {
  width: 1.33em;
  height: 1em;
  fill: #C64721;
}
.ico-mono-benefits-optimize {
  width: 0.95em;
  height: 1em;
  fill: #C64721;
}
.ico-mono-benefits-repeair {
  width: 0.98em;
  height: 1em;
  fill: #C64721;
}
.ico-mono-benefits-settings {
  width: 1em;
  height: 1em;
  fill: #C64721;
}
.ico-mono-benefits-wireless {
  width: 1.1em;
  height: 1em;
  fill: #C64721;
}
.ico-mono-checkmark {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-commerc {
  width: 0.69em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-enter {
  width: 0.91em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-industry {
  width: 1.02em;
  height: 1em;
  fill: #222;
}
.ico-mono-logo-big {
  width: 2.34em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-logo {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-mono-maint {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-req {
  width: 0.58em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-search {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.ico-mono-social-facebook {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-rss {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-share {
  width: 0.87em;
  height: 1em;
  fill: #C64721;
}
.ico-mono-social-vk {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-mono-social-whatup {
  width: 0.94em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-stage {
  width: 0.8em;
  height: 1em;
  fill: #222;
}
.ico-mono-street {
  width: 0.98em;
  height: 1em;
  fill: #222;
}
.ico-mono-subs {
  width: 1.1em;
  height: 1em;
  fill: #583E3E;
}
