// SERVICE CATEGORIES
-
  var list = [
    {icon: 'city', title: 'Умный город'},
    {icon: 'street', title: 'Умная дорога'},
    {icon: 'industry', title: 'Умная промышленность'},
    {icon: 'stage', title: 'Сценическое освещение'},
    {icon: 'arch', title: 'Архитектурная подсветка'},
  ]

.service-categories
  .container
    .service-categories__grid
      each card, idx in list
        // col
        .service-categories__col
          a(href="#").service-categories__element
            .service-categories__icon
              +svgMono(card.icon)
            .service-categories__title= card.title
