// SERVICE CATEGORIES
.service-categories
  .container
    .service-categories__grid
      // col
      .service-categories__col
        a(href="#").service-categories__element
          .service-categories__icon
            +svgMono('street')
          .service-categories__title Наружное освещение
      // col
      .service-categories__col
        a(href="#").service-categories__element
          .service-categories__icon
            +svgMono('industry')
          .service-categories__title Промышленное освещение
      // col
      .service-categories__col
        a(href="#").service-categories__element
          .service-categories__icon
            +svgMono('arch')
          .service-categories__title Архитектурная подсветка
      // col
      .service-categories__col
        a(href="#").service-categories__element
          .service-categories__icon
            +svgMono('stage')
          .service-categories__title Сценическое освещение
      // col
      .service-categories__col
        a(href="#").service-categories__element
          .service-categories__icon
            +svgMono('subs')
          .service-categories__title Управление подстанциями
