// FORM
form(action="test.php" js-validate-form)
  .ui-group
    label(for="fio") ФИО*
    input.ui-input(type="text" name="fio" required)
  .ui-group
    label(for="phone") Почта*
    input.ui-input(type="email" name="email" required)

  .ui-group.ui-group--wide
    .ui-checkbox
      input(type="checkbox" name="confidential" id="confidential" required)
      label(for="confidential")
        span Нажимая кнопку, я принимаю <a href="#">соглашение о конфиденциальности</a> и соглашаюсь с обработкой персональных данных*

  button(type="submit").btn.btn-primary Отправить запрос
